[[source]]
url = "https://mirrors.ustc.edu.cn/pypi/web/simple"
verify_ssl = true
name = "pypi"

[packages]
colorama = "*"
requests = "*"
mysql-connector = "*"
pymongo = "*"
redis = "*"
paramiko = "*"
pypinyin = "*"
docker = "*"
colorlog = "*"
python-json-logger = "*"

[dev-packages]
cscanpoc = {editable = true, path = "."}
autopep8 = "*"
pylint = "*"
ipython = "*"
pytest = "*"

[requires]
python_version = "3"
