[[source]]
url = "https://mirrors.ustc.edu.cn/pypi/web/simple"
verify_ssl = true
name = "pypi"

[packages]
colorama = "*"
requests = "*"
mysql-connector = "*"
pymango = "*"
pymongo = "*"
redis = "*"
paramiko = "*"
pypinyin = "*"
docker = "*"
colorlog = "*"
python-json-logger = "*"

[dev-packages]
twine = "*"
pylint = "*"
"autopep8" = "*"
rope = "*"
cscanpoc = {editable = true, path = "."}
ipython = "*"
pytest = "*"
pytest-watch = "*"

[requires]
python_version = "3"
