[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
colorama = "*"
requests = "*"
"enum34" = "*"
mysql-connector = "*"
pymango = "*"
pymongo = "*"
redis = "*"
paramiko = "*"
pypinyin = "*"

[dev-packages]
twine = "*"
pylint = "*"
"autopep8" = "*"
rope = "*"

[requires]
python_version = "2.7"
